
<body>
  <div class="login-container">
    <h2>Login</h2>
    <form action="/login" method="POST">
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Log In</button>
    </form>
    <p class="register-link">Don't have an account? <a href="#">Sign up</a></p>
  </div>
</body>

